@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background: rgba(0, 0, 0 , 0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
    user-select: none;
}



.modal .content-modal{
    width: 100%;
    max-width: 520px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background: #000000d8;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 99999999;
}
.modal h2{
    padding: 0.5em;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.modal article{
    height: 550px;
    background: #4e9eff25;
    border-radius: 5px;
}
article p{
    padding-top: 10px;
    padding-left: 15px;
    color: white;
    text-align: left;
    /* font-family: 'Poppins','sans-serif'; */
    font-size: 18px;
}

article p span{
    color: #00c9a7;
    font-weight: 600;
}

article div{
    margin-top: 15px;
    text-align: center;
}

article div button{
    padding: 12px;
    width: 50%;
    background-color: #00c9a7;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    transition:  all 0.5s ease;
}
article div button:hover{
    cursor: pointer;
    background-color: #006fc9;
    color: white;
}

.close-modal{
    color: #f6f6f6;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.modal a:hover{
    color: #c0392b;
}

.modal:target{
    opacity: 1;
    top: 0;
}
.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999991;
}
.modal:target .content-modal{
    top: 60px;
    transition: top 0.35s ease;
}

